include kalash\spec.yaml
include kalash/spec.yaml
include kalash\spec.schema.json
include kalash/spec.schema.json
recursive-include kalash/pdoc *.*
recursive-include kalash\pdoc *.*
recursive-include kalash/built_docs *.*
recursive-include kalash\built_docs *.*